.container
  .main 
    .info plese your voice. for make better town.
    .form 
      .form__info 市区町村を探す
      .form__search
        %input.form__search__input{id: 'spot-search-field', placeholder: "自治体を入力してください"}
        %btn.form__search__btn search
  .side 
    .side__heading 評価ランキング
    .side__listview
      - @spots.each.with_index(1) do |spot, i|
        %li.box 
          .box__num
            = i
          .box__title
            = spot.name
