= render "shared/header"

.container
  .main 
    .form 
      .form__info
        Please let me hear your voice.
      .form__search
        %input.form__search__input{id: 'spot-search-field', placeholder: "市区町村を入力してください"}
        %button.form__search__btn search
    .ranking 
      .ranking__head
        Ranking
      .ranking__list
        .box 
          .box__num--top
            1.
          .box__title--top
            千代田区
          %p{class: "text-small"}
            .rating-star
              %i{class: "star-actived rate-0"}
        .box
          .box__num
            2.
          .box__title
            港区
          %p{class: "text-small"}
            .rating-star
              %i{class: "star-actived rate-0"}
        .box
          .box__num
            3.
          .box__title
            中央区
          %p{class: "text-small"}
            .rating-star
              %i{class: "star-actived rate-0"}
  .side
    .side__head
      Recently reviews
    .side__list
      .side__article
        %h1 user_name_1
        %p よかったです
      .side__article
        %h1 user_name_2
        %p すごいです

= render "shared/footer"