= render "shared/header"

.search-list
  .form
    .form__search
      %input.form__search__input{id: 'spot-search-field', placeholder: "市区町村を入力してください"}
      %button.form__search__btn search
  .search-result
    .search-result__spot
      千代田区
    .search-result__spot
      千代田区
    .search-result__spot
      千代田区
    .search-result__spot
      千代田区
    .search-result__spot
      千代田区

= render "shared/footer"