.show-review
  .title
    .title--section
      %h2{class: "text-middle"}
        = @spot.name
  .main-review
    .main-review__write
      %button
        この街のレビューをする
    .main-review__list
      %h3
        みんなのレビュー
      .main-review__list__article
        .main-review__list__article__title
          一番目のコメント
        .main-review__list__article__user-name
          ユーザー１
        .main-review__list__article__content
          あああああああああああああああああああああああああああああああああ
      .main-review__list__article
        .main-review__list__article__title
          二番目のコメント
        .main-review__list__article__user-name
          ユーザー２
        .main-review__list__article__content
          あああああああああああああああああああああああああああああああああ
      .main-review__list__article
        .main-review__list__article__title
          三番目のコメント
        .main-review__list__article__user-name
          ユーザー３
        .main-review__list__article__content
          あああああああああああああああああああああああああああああああああ