= render "shared/header"

.show-review
  .title
    .title--section
      %h2{class: "text-middle"}
        = @spot.name
  .main-review
    .main-review__write
      %button
        この街のレビューをする
    .main-review__list
      %h3
        みんなのレビュー
      .main-review__list__article
        .main-review__list__article__user-name
          ユーザーネーム１
        .main-review__list__article__title
          タイトル１
        .main-review__list__article__content
          あああああああああああああああああああああああああああああああああ
      .main-review__list__article
        .main-review__list__article__user-name
          ユーザーネーム２
        .main-review__list__article__title
          タイトル２
        .main-review__list__article__content
          あああああああああああああああああああああああああああああああああ
      .main-review__list__article
        .main-review__list__article__user-name
          ユーザーネーム３
        .main-review__list__article__title
          タイトル３
        .main-review__list__article__content
          あああああああああああああああああああああああああああああああああ

= render "shared/footer"