.container
  .header 
    .header--section
      %h2{class: "text-middle"}
        = @spot.name
      %h2{style: "text-align: right"}
        この街のレビューをする
      %i{class: "icon-movie color-gray-light"}
        みんなのレビュー
