%main.main

  .signup-panel
    %p.signup-panel__title 会員情報入力
    #new_user
      .thankyou
        %p ありがとうございます。
        %p 会員登録が完了しました。

      .sign-up-btn
        = link_to 'レビューをはじめる', root_path(), class: "btn btn-red"