body{
  background-image: url('https://www.pakutaso.com/shared/img/thumb/heriyakei419173_TP_V.jpg');
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}

.wrapper{
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background-color:rgba(255,255,255,0.85);
  background-blend-mode:lighten;
}

.header{
  padding: 8px 40px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 1px;
  .top-menu{
    margin: 0;
    height: 64px;
    line-height: 64px;
    .logo{
      float: left;
      font-size: 50px;
    }
    .user-form{
      padding: 8px;
      box-sizing: border-box;
      float: right;
      text-align: center;
      display: flex;
      &__post{
        width: 120px;
        height: 40px;
        margin-left: 16px;
        line-height: 40px;
        border: solid 2px;
        border-radius: 8px;
      }
    }
  }
}

.container{
  margin: 0 auto;
  padding: 40px 120px;
  display: flex;
  .main{
    margin-bottom: 72px;
    box-sizing: border-box;
    text-align: center;
    width: 600px;
    .form{
      padding: 24px;
      margin-bottom: 24px;
      box-sizing: border-box;
      width: 100%;
      height: 160px;
      border: solid 1px;
      border-radius: 8px;
      background-color: #eee;
      &__info{
        margin-bottom: 24px;
        height: 32px;
        font-size: 16px;
        text-align: center;
        border-bottom: solid 1px;
      }
      &__search{
        margin: 8px;
        &__input{
          height: 32px;
          width: 60%;
          font-size: 16px;
        }
        &__btn{
          margin-left: 8px;
          padding: 8px;
          font-size: 16px;
          border: solid 0.5px;
          color: #fff;
          background-color: black;
        }
      }
    }
  }
  .ranking{
    padding: 32px;
    box-sizing: border-box;
    border: solid 1px;
    border-radius: 8px;
    &__head{
      font-size: 32px;
      padding-bottom: 8px;
      margin-bottom: 40px;
      border-bottom: solid 1px gray;
    }
    &__list{
      list-style: none;
      .box{
        display: flex;
        margin-bottom: 32px;
        &__num{
          min-width: 1.5em;
          font-size: 24px;
          border-bottom: double;
          &--top{
            min-width: 1.5em;
            font-size: 32px;
            border-bottom: double;
            color: red;
          }
        }
        &__title{
          padding: 0 72px 0 32px;
          font-size: 24px;
          &--top{
            padding: 0 72px 0 32px;
            font-size: 32px;
            color:red;
          }
        }
      }
    }
  }
  .side{
    margin: 0 40px;
    padding: 20px;
    height: 480px;
    width: 400px;
    border: solid 1px;
    border-radius: 8px;
    &__head{
      margin-bottom: 24px;
      padding: 20px;
      font-size: 32px;
      border-bottom: solid 1px;
    }
  }
}

.footer-container{
  height: 60px;
  width: 100%;
  border-top: solid 1px;
  h2{
    margin: 16px;
    text-align: center;
  }
}