.show-review{
  padding: 80px;
  height: 560px;
  .title{
    margin: 0 auto 40px;
    width: 80%;
    h2{
      font-size: 80px;
    }
  }
  .main-review{
    height: 560px;
  &__write{
    button{
    @include btn-default;
    margin: 0 auto 40px;
    width: 80%;
    background-color: lightgray;
    }
  }
  &__list{
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    width: 80%;
    border: solid 1px;
    h3{
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    &__article{
      margin-bottom: 16px;
      border-bottom: solid 1px;
      line-height: normal;
    }
  }
  }
}