.header{
  position: fixed;
  margin: 0 auto;
  padding: 8px 40px;
  box-sizing: border-box;
  width: 90%;
  background-color:rgba(255,255,255,0);
  .top-menu{
    margin: 0;
    height: 64px;
    line-height: 64px;
    .logo{
      float: left;
      font-size: 50px;
      a{
        color: black;
        text-decoration: none;
      }
    }
    .user-form{
      margin-top: 16px;
      padding: 8px;
      box-sizing: border-box;
      float: right;
      text-align: center;
      display: flex;
      &__post{
        width: 120px;
        height: 40px;
        margin-left: 16px;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}