.edit{
  margin: 0 auto;
  width: 100%;
  .title{
    font-size: 32px;
    text-align: center;
  }
  .form{
    margin: 16px 64px;
    .image{
      &__title{
        font-size: 24px;
      }
      &__attention{
        margin-top: 8px;
      }
      &__upload{
        height: 40px;
        min-width: 100%;
        line-height: 40px;
        margin-top: 8px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .upload-form{
          margin: 0 auto;
          min-width: 30%;
          text-align: center;
        }
      }
    }
    .spot{
      margin-top: 32px;
      &__title{
        font-size: 24px;
      }
      &__text{
        font-size: 16px;
      }
      input{
        font-size: 16px;
      }
      #map{
        margin-top: 16px;
        height: 600px;
        width: 600px;
      }
    }
    .review{
      &__title{
        margin-top: 32px;
        &__label{
          font-size: 24px;
        }
        &__text{
          margin-top: 8px;
          width: 320px;
          font-size: 16px;
        }
      }
      &__tag{
        margin-top: 32px;
        &__label{
          font-size: 24px;
        }
        &__text{
          margin-top: 8px;
          width: 320px;
          font-size: 16px;
        }
      }
      &__status{
        margin-top: 32px;
        &__label{
          font-size: 24px;
        }
      }
      &__rate{
        margin-top: 32px;
        &__label{
          font-size: 24px;
        }
        &__select{
        }
      }
      &__content{
        margin-top: 32px;
        &__label{
          font-size: 24px;
        }
        &__text{
          margin-top: 8px;
          height: 160px;
          width: 100%;
          font-size: 16px;
        }
      }
    }
    .post-btn{
      @include btn-default;
      margin-top: 32px;
      width: 100%;
      color: #ffffff;
      background-color: $blue;
      border-bottom: solid 4px #627295;
      border-radius: 4px;
      &:hover{
        background-color: lightskyblue;
      }
    }
  }
  .back-btn{
    @include btn-default;
    text-decoration: none;
    margin: 32px auto 0;
    color: black;
    background-color: lightgray;
    &:hover{
      background-color: gray;
    }
  }
}