body{
  background-image: url('https://www.pakutaso.com/shared/img/thumb/heriyakei419173_TP_V.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}

.wrapper{
  min-height: 448px;
  max-width: 90%;
  margin: 0 auto;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
}

.container{
  margin: 0 auto;
  padding: 144px 80px 40px;
  min-height: 448px;
  .main{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    .review{
      padding: 24px;
      margin-bottom: 24px;
      box-sizing: border-box;
      width: 100%;
      min-height: 64%;
      border: solid 1px;
      border-radius: 8px;
      &__info{
        margin-bottom: 24px;
        height: 32px;
        font-size: 16px;
        text-align: center;
        border-bottom: solid 1px;
      }
      &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .article{
          margin: 16px;
          max-width: 300px;
          img{
            @include img-default;
            &:hover{
              filter: brightness(0.8);
            }
          }
        }
      }
    }
  }
}