.search{
  margin: 16px auto;
  padding: 0;
  input[type = "radio"]{
    display: none;
  }
  &__tab{
    font-size :0;
    margin: 0 auto;
    width: 70%;
    label{
      display: inline-block;
      margin: 0 5px;
      padding: 12px 0;
      width: 150px;
      color: #999;
      background-color: #ddd;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      transition: ease 0.2s opacity;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  &__area{
    margin: 0 auto;
    &__form{
      margin: 0 auto 32px;
      padding: 24px;
      box-sizing: border-box;
      height: 120px;
      max-width: 70%;
      text-align: center;
      border: solid 1px $blue;
      border-radius: 4px;
      display:none;
      h2{
        font-size: 24px;
      }
      &__info{
        margin: 16px auto 0;
        display: flex;
        justify-content: center;
        max-width: 80%;
        .field-1, .field-2{
          min-width: 240px;
          font-size: 16px;
        }
        .search-btn{
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          cursor: pointer;
          background-color: $blue;
          color: $white;
          line-height: normal;
          border-bottom: solid 4px #627295;
        }
      }
    }
  }
  #tab1:checked ~ .search__tab .tab1_label{
    background-color: $blue; color: $white;
  }
  #tab1:checked ~ .search__area #panel1{
    display: block;
  }
  #tab2:checked ~ .search__tab .tab2_label{
    background-color: $blue; color: $white;
  }
  #tab2:checked ~ .search__area #panel2{
    display: block;
  }
  &__result{
    margin: 16px auto 0;
    text-align: center;
    &__article{
      margin: 16px auto;
      padding: 8px;
      width: 600px;
      max-width: 600px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-decoration: none;
      color: black;
      &:hover{
        background-color: lightgray;
        border-radius: 8px;
      }
      &__image{
        @include img-default;
        margin-right: 16px;
      }
      &__title{
        margin: 0 auto;
        padding-top: 16px;
        max-width: 240px;
        font-size: 24px;
      }
      &__address{
        margin: 0 auto;
        padding-top: 8px;
        font-size: 16px
      }
      &__rating{
        padding-top: 16px;
        font-size: 16px;
        line-height: normal;
        .rate{
          position: relative;
          display: inline-block;
          width: $starFull * 5;
          height: $starFull;
          font-size: $starFull;
          &:before,&:after{
            position: absolute;
            top: 0;
            left: 0;
            content: '★★★★★';
            display: inline-block;
            height: $starFull;
            line-height: $starFull;
          }
          &:before{
          color: #ddd;
          }
          &:after{
          color: #ffa500;
          overflow: hidden;
          }
        }
        .rate1\.0:after{
          width: $rate1;
        }
        .rate2\.0:after{
          width: $rate2;
        }
        .rate3\.0:after{
          width: $rate3;
        }
        .rate4\.0:after{
          width: $rate4;
        }
        .rate5\.0:after{
          width: $rate5;
        }
      }
      &__tag{
        line-height: normal;
        margin-top: 8px;
        font-size: 16px;
      }
    }
  }
}
