.show{
  display: flex;
  flex-wrap: wrap;
  .swiper-container {
    position: relative;
    width: 400px;
    min-width: 40%;
    background-color: #eee;
    &:before {
      display: block;
    }
  }
  .swiper-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content{
    margin: 8px auto 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    &__title{
      max-width: 100%;
      min-width: 280px;
      font-size: 32px;
    }
    &__spot{
      margin-top: 8px;
      min-width: 100%;
      font-size: 16px;
    }
    &__user{
      margin-top: 8px;
      min-width: 100%;
      font-size: 16px;
    }
    &__tag{
      margin-top: 8px;
      width: 100%;
      min-width: 320px;
      font-size: 16px;
      line-height: normal;
      span{
        margin-right: 8px;
        padding: 4px;
        color: $white;
        background-color: $blue;
        border-radius: 4px;
      }
    }
    &__status{
      margin-top: 8px;
      min-width: 100%;
      font-size: 16px;
    }
    &__rating{
      margin-top: 8px;
      width: 100%;
      min-width: 320px;
      font-size: 16px;
      line-height: normal;
      .rate{
        position: relative;
        display: inline-block;
        width: $starFull * 5;
        height: $starFull;
        font-size: $starFull;
        &:before,&:after{
          position: absolute;
          top: 0;
          left: 0;
          content: '★★★★★';
          display: inline-block;
          height: $starFull;
          line-height: $starFull;
        }
        &:before{
        color: #ddd;
        }
        &:after{
        color: #ffa500;
        overflow: hidden;
        }
      }
      .rate1\.0:after{
        width: $rate1;
      }
      .rate2\.0:after{
        width: $rate2;
      }
      .rate3\.0:after{
        width: $rate3;
      }
      .rate4\.0:after{
        width: $rate4;
      }
      .rate5\.0:after{
        width: $rate5;
      }
    }
    &__text{
      margin-top: 8px;
      padding: 8px 16px;
      box-sizing: border-box;
      min-height: 160px;
      width: 100%;
      min-width: 280px;
      border: solid lightgray 1px;
      line-height: normal;
      table-layout:fixed;
      div{
        width: 100%;
        word-wrap:break-word;
      }
    }
  }
  .spot{
    margin: 16px auto;
    width: 1000px;
    max-width: 100%;
    &__address{
      margin: 0 80px;
      font-size: 24px;
    }
    &__maps{
      margin: 8px auto 0;
    }
  }
}
.show-btn{
  @include btn-default;
  margin: 32px auto 0;
  width: 100%;
  text-align: center;
  &__edit{
    background-color: $blue;
    border-bottom: solid 4px #627295;
    border-radius: 4px;
    a{
      display: block;
      color: $white;
      text-decoration: none;
    }
    &:hover{
      background-color: lightskyblue;
    }
  }
  &__delete{
    margin-top: 16px;
    border: solid red 1px;
    border-radius: 4px;
    a{
      display: block;
      color: red;
      text-decoration: none;
    }
    &:hover{
      background-color: #FF3333;
      a{
        color: $white;
      }
    }
  }
  input{
    @include btn-default;
    text-decoration: none;
    margin: 32px auto 0;
    width: 100%;
    color: black;
    background-color: lightgray;
    &:hover{
      background-color: gray;
    }
  }
}