= render "shared/header"

.container
  .picture
    Please let me hear your voice.
  .main 
    .review 
      .review__info
        Recently reviews
      .review__list
        - if @review.present?
          = render partial: "list", collection: @review, as: :review

= render "shared/footer"