= render "shared/header"

.container
  .main 
    .review 
      .review__info
        Please let me hear your voice.
      .review__list
        - if @review.present?
          = render partial: "list", collection: @review, as: :review

= render "shared/footer"